{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en Lh Ingenieria Spa. {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, vaya a la página siguiente y escoja una nueva contraseña." %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}Lh Ingenieria Spa. DENTRO DE CORE !!{% endblocktranslate %}

{% endautoescape %}
