{% extends "base_generic.html" %}

{% load static %}
{% load humanize %}


{% block content %}
<!--**********************************
    Content body start
***********************************-->
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Finanzas</h5></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Portal </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Finanzas</a></li>
        </ol>
    </div>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="card h-auto">
                    <div class="card-header">
                        <h4 class="heading mb-0">Agregar Transacción </h4>
                    </div>
                    <div class="card-body">
                        <form class="finance-hr" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label> Monto<span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                <div class="input-group-text">$</div>
                                {{ form.monto }}
                                {{mi_variable_booleana}}
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Tipo de Transacción<span class="text-danger">*</span>
                                </label>
                                {{ form.tipo_transaccion }}
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Fecha Transacción<span class="text-danger">*</span>
                                </label>
                                {{ form.fecha_transaccion }}
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Descripción Transacción<span class="text-danger">*</span>
                                </label>
                                {{ form.descripcion }}
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Empleado Relacionado<span class="text-danger">*</span>
                                </label>
                                {{ form.empleado_relacionado }}
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Proveedor Relacionado<span class="text-danger">*</span>
                                </label>
                                {{ form.proveedor_relacionado }}
                            </div>
                            <div class="form-group mb-3">
                                <label class="text-secondary">Subir Archivo<span class="text-danger"> ?</span>
                                </label>
                                {{form.archivo}}
                            </div>
                            
                            <button type="submit" class="btn btn-primary mb-3">Agregar Transacción</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-9 col-xxl-8">
                <div class="row">
                    <div class="col-xl-3  col-lg-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body p-4">
								<div  class="media ai-icon">
									<span  class="me-3    bgl-primary text-primary">
										<!-- <i class="ti-user"></i> -->
										<svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
											<line x1="12" y1="1" x2="12" y2="23"></line>
											<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
										</svg>
									</span>
									<div class="media-body">
										<p class="mb-1">Total</p>
										<h6 class="mb-0">{{monto_total}}</h6>
                                        
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xl-3  col-lg-6 col-sm-6">
                        <div class="widget-stat card">
							<div class="card-body p-4">
								<div class="media">
									<span class="me-3 bgl-success text-success">
										<svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
											<line x1="12" y1="1" x2="12" y2="23"></line>
											<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
										</svg>
									</span>
									<div class="media-body">
										<p class="mb-1">Total Ingresos</p>
										<h6 class="mb-0">{{monto_cargo}}</h6>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xl-3  col-lg-6 col-sm-6">
                        <div class="widget-stat card">
							<div class="card-body  p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-danger text-danger">
										<svg id="icon-revenue" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
											<line x1="12" y1="1" x2="12" y2="23"></line>
											<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
										</svg>
									</span>
									<div class="media-body">
										<p class="mb-1">Total Retiros</p>
										<h6 class="mb-0">{{monto_retiro}}</h6>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xl-3  col-lg-6 col-sm-6">
                        <div class="widget-stat card">
							<div class="card-body p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-warning text-warning">
										<svg id="icon-orders" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
											<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
											<polyline points="14 2 14 8 20 8"></polyline>
											<line x1="16" y1="13" x2="8" y2="13"></line>
											<line x1="16" y1="17" x2="8" y2="17"></line>
											<polyline points="10 9 9 9 8 9"></polyline>
										</svg>
									</span>
									<div class="media-body">
										<p class="mb-1">Total Depositos</p>
										<h6 class="mb-0">{{cant}}</h6>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-1">
                        <div class="table-responsive active-projects shorting">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">Tabla de Finanzas</h4>
                            </div>
                            <table id="customer-tbl" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>TIPO TRANSACCIÓN</th>
                                        <th>MONTO</th>
                                        <th>FECHA TRANSACCIÓN</th>
                                        <th>EMPLEADO</th>
                                        <th>PROVEEDOR</th>
                                        <th>DESCRIPCIÓN TRANSACCIÓN</th>
                                        <th>Archivos</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in trans%}
                                    <tr>
                                        <td>
                                            {{x.id_transaccion}}
                                        </td>
                                        <td>
                                            {% if x.tipo_transaccion == '(+) Ingreso (+)' %}
                                            <span class="badge light badge-success">{{x.tipo_transaccion}}</span>
                                            {% elif x.tipo_transaccion == '(-) Retiro (-)' %}
                                            <span class="badge light badge-danger">{{x.tipo_transaccion}}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                           ${{x.monto|floatformat:0|intcomma }}
                                        </td>
                                        <td>
                                            {{x.fecha_transaccion}}
                                        </td>
                                        <td>
                                            {% if x.empleado_relacionado %}
                                            {{x.empleado_relacionado}}
                                            {% else %}
                                            <span>No Relacionado</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if x.proveedor_relacionado %}
                                            {{x.proveedor_relacionado}}
                                            {% else %}
                                            <span>No Relacionado</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{x.descripcion}}
                                        </td>
                                        {% if x.archivo %}
                                            <td>
                                                {% load static %}
                                                <a href="{{x.archivo.url}}" download><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.1221 15.4361L12.1221 3.39508" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M15.0381 12.5084L12.1221 15.4364L9.20609 12.5084" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M16.7551 8.12799H17.6881C19.7231 8.12799 21.3721 9.77699 21.3721 11.813V16.697C21.3721 18.727 19.7271 20.372 17.6971 20.372L6.55707 20.372C4.52207 20.372 2.87207 18.722 2.87207 16.687V11.802C2.87207 9.77299 4.51807 8.12799 6.54707 8.12799L7.48907 8.12799" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg></a>
                                            </td>
                                            {% else %}
                                            <td>  
                                                
                                            </td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'trans-delete' x.id_transaccion %}">
													<span class="badge bg-primary light border-0">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M19.3248 9.4682C19.3248 9.4682 18.7818 16.2032 18.4668 19.0402C18.3168 20.3952 17.4798 21.1892 16.1088 21.2142C13.4998 21.2612 10.8878 21.2642 8.27979 21.2092C6.96079 21.1822 6.13779 20.3782 5.99079 19.0472C5.67379 16.1852 5.13379 9.4682 5.13379 9.4682" stroke="#FDFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M20.708 6.23969H3.75" stroke="#FDFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M17.4406 6.23967C16.6556 6.23967 15.9796 5.68467 15.8256 4.91567L15.5826 3.69967C15.4326 3.13867 14.9246 2.75067 14.3456 2.75067H10.1126C9.53358 2.75067 9.02558 3.13867 8.87558 3.69967L8.63258 4.91567C8.47858 5.68467 7.80258 6.23967 7.01758 6.23967" stroke="#FDFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													</svg></span>
												</a>
                                            </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    

            
<!--**********************************
    Content body end
***********************************-->
{% endblock %}